html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 90%;
  font: caption;
  background-image: linear-gradient(to bottom right, #480048, #C04848);
}

p {
  margin: 1em 2em;
}

.content {
  display: block;
  margin:auto;
}

h4, label {
  color: white;
}

h3 {
  text-align: center;
  color: white;
}

#submit {
  background-color:#C04848;
  color: white;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:0px;
	border:0.5px solid white;
	display:inline-block;
  margin: auto;
  padding: 7px 10px;
}

#submit:hover {
 background-color:#480048;
}

#submit:active {

}

.dropdown {
	border-radius:0px;
	border:0px solid white;
	display:inline-block;
  padding: 8px 10px;
}
